/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.label {
    text-align: right;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    margin: 15px;
    padding: 15px;
  /*width: 400px;*/
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
/*#closeButton {*/
  /*margin: 15px 6px 6px;*/
/*}*/

.raschetPanel {
  border: 1px solid lightgray;
}

.raschetLabel {
  background-color: white;
  color: dodgerblue;
  text-align: center;
}

.gwt-Label-big {
    font-size: 20px;
}

.gwt-Label-mini {
    color: Blue;
}

textarea {
    resize: none;
}

.error {
    background-color: lightpink;
}

.noerror {
    background-color: white;
}

.error_text {
    color: red;
}